---
import Layout from '../layouts/Layout.astro';
import SocialList from '../components/SocialList.astro';
import ProfileImage from '../components/ProfileImage.astro';
import ProjectCard from '../components/ProjectCard.astro';
import projects from "../../test.json";

const introMessage = "Hi! I'm Donggyu. I'm in my 4th year as an undergrad CS student :D";
const profileImageSize = 150;

const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
---

<Layout title="Donggyu Kim">
	<div class="flex flex-col items-center">
		<ProfileImage size={profileImageSize} />
		<h1 class="mb-2 bg-gradient-to-r from-indigo-500 to-purple-600 bg-clip-text text-transparent leading-normal">
			Donggyu Kim
		</h1>
		<SocialList />
		<br />
		<div class="text-wrap text-xl mx-5">
			<p class="text-center">{ introMessage }</p>
			<br/>
			<p id="projects-anchor" class="text-center">I like creating full-stack apps to enhance my QoL. Check them out below!</p>

			<br>
			<br>
			<!-- <h1 class="text-center">Projects</h1> -->
			<!-- <p class="mb-12 text-center text-xl">{ pageDescription }</p> -->
			<div class="pc:grid grid-cols-2 grid-rows-3 gap-8 justify-center flex flex-col">
				{projects.map(({ url, title, description, pubDate }) => (
					<ProjectCard url={url} title={title} description={description} month={months[pubDate.month - 1]} year={pubDate.year} />
				))}
			</div>
			<br />
			<a href="/about" class="underline underline-offset-2">
				Find out more about me!
			</a>
		</div>
		
		<br />
	</div>
</Layout>