---
import { Image } from "astro:assets";
import profileImage from "../images/headshot.jpg";

const { size } = Astro.props;
const fixedSize = `${size || "200"}px`;
const classList = [
    `w-[${fixedSize}] h-[${fixedSize}]`,
    `min-w-[${fixedSize}] min-h-[${fixedSize}]`,
    "bg-slate-900 rounded-full select-none overflow-hidden",
];
---

<div class:list={classList}>
    <Image src={profileImage} alt="Profile image" class="object-center" width={size || 200} height={size || 200} />
</div>